body {
  background-image: url(http://eskipaper.com/images/beautiful-blue-eyes-wallpaper-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}
ul.topnav li {
  float: right;
  border-right: 5px solid #ffff00;
}
ul.topnav li a {
    display: block;
    color: #0000ff;
    padding: 16px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
   }
ul.topnav li a:hover {
    background-color: yellow;
  }
.active {
  background-color: gray;
}
#mytopnav {
  background: rgba(59,59,59, .3);
}
.header{
    font-size: 30px;
    color: #3300ff;
    font-family: 'Diplomata SC', cursive;
    text-align: center;
    padding-top: 260px;
}
.tent {
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: white;
}
span {
    float: left;
    width: 0.9em;
    font-size: 300%;
    font-family: cursive;
    line-height: 80%;
  }
