body {
  background: url(http://eskipaper.com/images/beautiful-blue-eyes-wallpaper-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-indicators{
   top:0px; 
}


.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

}
ul.topnav li {
  float: right;
  border-right: 5px solid #ffff00 ;
}
ul.topnav li a {
    display: block;
    color: #0000ff ;
    padding: 16px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
   }
ul.topnav li a:hover {
    background-color: yellow;
  }
.active {
  background-color: gray;
}
#mytopnav {
  background: rgba(59,59,59, .3);
}

.header{
	font-size: 30px;
	color: #3300ff;
	font-family: 'Diplomata SC', cursive;
	text-align: center;
	padding-top: 300px;
  text-shadow: 2px 2px white;
}

h1 {
   font-family: 'Diplomata SC', cursive;
   position: absolute; top: 15px; width: 100%;
   padding-top: 100px;
   font-size: 48px;
}

.container{
	border: 1px solid yellow;
	margin: 0 auto;
	vertical-align: center;
}

.container2 {
	margin-left: 400px;
	margin-right: 300px;
	vertical-align: center;
	font-size: 2em;
}

.container3 {
	margin-left: 400px;
	margin-right: 300px;
	vertical-align: center;
}

.yellowbkgd{
    padding-left: 195px;
    text-align: center;
    background-color: #0000ff ;
    font-weight: bolder;
    font-size: 20px;
}

p{
	text-align: center;
	color: white;
	font-family: arial;
}

.nastywoman {
	font-family: cursive; 
	letter-spacing: 1px;
	font-size: 2em;
	color: blue;
}

 footer {
    padding: .005em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
    opacity: 0.5;
    font-family: Arial Narrow;
    letter-spacing: 1px;

}

